*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    
}
body{
    background: #fefeff;
    color: #f2f1f5;
    background: url(imagens/background1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
     padding: 70px 10% 0;
     background-color: #253447;
    

}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: url(imagens/background1.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
    font-size: 25px;
    color: #f5f5f9;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    align-items: center;

}
.navbar a:hover{
    color: #f7f7fa;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    
}nav ul li a{
    color: rgb(246, 243, 243);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fdfdfe;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100px;

}
.container{
    padding: 10px 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   

}.logo{
   width: 200px;
    position: relative;
    font-size: 30px;
    color: burlywood;
    text-decoration: none;
    font-weight: 600;
   
}nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;

}
.home-content h1 span{
    color: burlywood;
}
.about{
    padding: 80px 0;
    color: #ababab; ;
}
.about-col-1{
    padding-bottom: 50px;

}



