@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    
}
img{
    width: 100%;
    
}

ul {
    list-style: none;
}

.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

         /*header*/
header {
    background-color: #253447;
    position: fixed;
    width: 100%;
    z-index: 5;

}

 header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content:space-between ;
}

   /*logo*/
.navbar .logo .texto-logo {
    color: white;
    font-size: x-large;
    font-weight: 800;
    color: burlywood;
}


    /* links HEADER*/
.navbar .menu {
    display: flex;
    gap: 100px;
    color: white;
    padding: 10px 18px;
    font-size: 18px;
}

.navbar .navbar-link .menu {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content:space-between ;
}


ul {
    list-style: none;
}
    /*remove underline da logo e links*/
a {
    text-decoration: none;
    transition: 4s;

}

nav ul li a{
    color: rgb(246, 243, 243);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fdfdfe;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100px;

}

button {
    cursor: pointer;
    border: none;
    background-color: none;
}




        /*  conteudo*/

.seccao-hero{
    background-color: #253447;
    min-height: 100vh;
    max-width: 600px;
   text-align: left;
   padding-left: 100px;

}

.seccao-hero h3{
    font-size: 32px;
    font-weight: 700;
    font-size: x-large;
    margin-top: 8px;
    max-width: 70%;
    font-weight: bold;
}


.seccao-hero .seccao-conteudo{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;

}
.seccao-hero .seccao-conteudo .subtitulo{

    text-align: left;
}

.seccao-hero .hero-detalhes .descicao{
   font-size: medium;
   max-width: 70%;
   margin: 24px 0 40px;
}

b{
    color: burlywood;
}


            /*imagem background*/
.tela{
    width: 100%;
    height: 690px;
    }

.imagem{ 
    float: right;
    width: 56%;
    height: 100%;
    padding-top: 50px;    
    object-fit: cover;
    
}

/*button*/

.botao{
padding-top: 70px;

}

.inscrever{
    border-radius:30px ;
    background-color: black;
    text-decoration: none;
    padding: 10px 26px;
    border: 2px solid transparent;
  
}

.inscrever:hover{
 color: white;
 border-color: white;
 background: transparent;


}

.link{
    color: white;
}





/* sobre*/

.seccao-sobre{
    padding:12px 0;
    background: white;
}

.seccao-sobre .seccao-conteudo{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.seccao-sobre .sobre-image-wrapper .sobre-imagem {
width: 400px;
height: 400px;
object-fit: cover;
border-radius:50% ;
}

.seccao-titulo{
 text-align: center;
 padding: 60px 0 100px;
 text-transform: uppercase;
 font-size: x-large;
}

.seccao-titulo::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background: burlywood;
    border-radius: 10%;
}

.seccao-sobre .detalhes-sobre{
    max-width: 50%;
}

.seccao-sobre .detalhes-sobre .texto{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: medium;
}

.seccao-sobre .detalhes-sobre .seccao-titulo{
    padding: 0;
}

.sobre-image-wrapper{
    padding: 40px ;
    
 
 }

            /* SERVICOS */

#conteudo-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
   background-color:#253447;
    
}

#conteudo-servicos div{
    height: 370px;
    width:335px;
    background: burlywood;
    margin: 50px;
    border-radius: 30px;
   background-color: transparent;
  
}
 
.servico-consultoria{
    color: white;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    border-style: solid;
    border-color: burlywood;

}
.servico-auditoria{
    color: white;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    border-style: solid;
    border-color: burlywood;
}
.servico-contabilidade{
    color: white;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    border-style: solid;
    border-color: burlywood;
}
.servico-fiscabilidade{
    color: white;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    border-style: solid;
    border-color: burlywood;
}

p{
padding-top: 10px;
text-align: center;
}


.servico-titulo{
    text-align: center;
    padding: 60px 0 10px;
    text-transform: uppercase;
    font-size: medium;
    background-color: #253447;

   }
   
   .servico-titulo::after {
       content: "";
       width: 110px;
       height: 5px;
       display: block;
       margin: 10px auto 0;
       background: burlywood;
       border-radius: 10%;
      
   }
   
   .seccao-contacto a{
    text-decoration: none;
    color: black;
    justify-content: center;
   }

 



